widgets.register({
  dimensions: {
    height: 1,
    width: 1
  },
  template: {
    html: `<div>Hello</div>`,
    css: `color: #000`
  },
  job: {
    schedule: 5000,
    script: function() {
      console.log('hi');
    }
  }
});
