<style type="text/css">
{{{css}}}
</style>

<div class="grid">
{{#each dashboard.widgets}}

  <script>

  var Model = app.Model({
    {{#each this.template.model}}
      {{@key}}: blocks.observable([]),
    {{/each}}
    lastUpdated: blocks.observable()
  });

  app.View("{{this.id}}", Model({
    {{#each this.template.model}}
      {{@key}}: {{{valuerender this}}},
    {{/each}}
    lastUpdated: new Date().toString()
  }));

  socket.on("{{this.id}}", function (data) {

    document.getElementById("{{this.id}}").style.background = data.background;
    app["{{this.id}}"].lastUpdated(data.lastUpdated);

    delete data.background;
    delete data.lastUpdated;

    _.each(data, function(val, key) {
      if (typeof val === 'object') {
        app["{{this.id}}"][key].reset();
        app["{{this.id}}"][key].addMany(val);
      } else {
        app["{{this.id}}"][key](val);
      }
    });

  });
  </script>

  <div data-query="view({{this.id}})" id="{{this.id}}" class="grid-item" style="{{autoscale ../dashboard.layout this.dimensions}}">
    <div class="grid-item--top"></div>
    <div class="grid-item--content">
      {{{this.template.html}}}
    </div>
    <div class="grid-item--bottom"></div>
  </div>
{{/each}}
</div>
